<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/iconicss.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  </head>

  <body class="site">
  <div class="page-wrapper">
    <div class="container">
      {{ partial "header.html" . }}

      <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {{ block "main" . }}{{ end }}
      </main>

      {{ partial "footer.html" . }}

    </div> <!-- end .container -->
  </div> <!-- end .page-wrapper -->
</body>

</html>

