<header class="bg-gradient-to-r from-intelblue to-accent text-white shadow-md">
  <div class="flex items-center justify-between px-4" style="height: 80px;">
    <a href="/" style="height: 64px; display: flex; align-items: center;">
    <img src="{{ "images/intel-logo.png" | absURL }}"
         alt="Intel Logo"
         style="height: 64px; width: auto; display: block;" />
    </a>
    <input type="text"
           placeholder="Search projects..."
           class="text-black px-2 py-2 rounded border h-10" />
  </div>
</header>

